@import "base/reset.scss";
@import "base/typography.scss";
@import "base/variables.scss";

@import "components/buttons.scss";
@import "components/forms.scss";
@import "components/nav.scss";

@import "layout/header.scss";
@import "layout/footer.scss";
@import "layout/sidebar.scss";

@import "pages/home.scss";
@import "pages/about.scss";
@import "pages/cars.scss";
@import "pages/account.scss";

@import "themes/light.scss";
// @import 'themes/dark'; // можно переключать тему
