@import "../base/variables.scss";
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: $border-radius;
}
