@import "../base/variables.scss";
nav {
  background-color: $secondary-color;
  padding: 10px;

  ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $text-color;

    &:hover {
      color: $primary-color;
    }
  }
}
